# --- Frontend (Node.js/React/Vite) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# --- Backend (Python/Django) ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
# .env
.venv
pip-log.txt
pip-delete-this-directory.txt
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- IDEs & OS ---
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# --- Root Environment ---
# .env
